<div class="main_form">
    <label>Mycie {{reg_number}} w toku. {{wash_type_text}}</label>
    <div class="actions_field">
        <a href="{{main_url}}" class="my_link">Kolejne mycie</a>
    </div>
</div>