<form action="" method="post" id="registration_number_form" class="main_form" accept-charset="utf-8">
  <label for="reg_number">Wprowadź numer rejestracyjny</label>
  <input type="text" id="reg_number" name="reg_number"></input>
</form>