<nav id="admin_menu">
    <a href="/admin/users" class="my_link">Użytkownicy</a>
    <a href="/admin/washtypes" class="my_link">Typy mycia</a>
    <a href="/admin/carhistory" class="my_link">Historia pojazdu</a>
</nav>
