{{> AdminMenu}}
<div id="admin_content">
    {{#message}}
    <h3>{{message}}</h3>
    {{/message}}
    {{#hasCarHistory}}
    <h3>Historia pojazdu {{reg_number}}</h3>
    <table>
        <thead>
            <tr>
                <th>Data</th>
                <th>Typ mycia</th>
                <th>Darmowe</th>
                <th>Umył</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            {{#carHistoryEntries}}
                <tr data-name="{{date}}, {{wash_type}}, {{washer_name}}" data-date="{{date}}" data-wash_type_id="{{wash_type_id}}" data-washer_id="{{washer_id}}">
                    <td>{{date}}</td>
                    <td>{{wash_type}}</td>
                    <td>{{#is_free}}Darmowe{{/is_free}}{{#is_used}}Użyty{{/is_used}}</td>
                    <td>{{washer_name}}</td>
                    <td>
                        <a class="edit" href="/admin/carhistory/update/{{id}}">Edytuj</a>
                        <a class="remove" href="/admin/carhistory/delete/{{id}}">Usuń</a>
                    </td>
                </tr>
            {{/carHistoryEntries}}
        </tbody>
    </table>
    {{/hasCarHistory}}
    <div id="car_history_modal" class="modal">
        <form action="/admin/carhistory" method="get" class="modal">
            <div class="form-header">
                <h3>Historia pojazdu</h3>
            </div>
            <div class="form-body">
                <div class="form-field">
                    <label for="reg_number">Nr rejestracyjny</label>
                    <input id="reg_number" name="reg_number" type="text" autofocus required/>
                </div>
            </div>
            <div class="form-footer">
                <button type="submit">Pokaż historię</button>
            </div>
        </form>
    </div>
    <div id="edit_wash_entry" class="modal">
        <form action="" method="post" class="modal">
            <div class="form-header">
                <h3>Edycja wpisu</h3>
            </div>
            <div class="form-body">
                <div class="form-field">
                    <label for="date">Data</label>
                    <input type="text" id="date" name="date" class="daypicker"/>
                </div>
                <div class="form-field">
                    <label for="wash_type_id">Typ mycia</label>
                    <select id="wash_type_id" name="wash_type_id">
                        {{#wash_types}}
                            <option value="{{id}}">{{name}}</option>
                        {{/wash_types}}
                    </select>
                </div>
                <div class="form-field">
                    <label for="washer_id">Umył</label>
                    <select id="washer_id" name="washer_id">
                        {{#users}}
                            <option value="{{id}}">{{name}}</option>
                        {{/users}}
                    </select>
                </div>
            </div>
            <div class="form-footer">
                <button type="submit">Aktualizuj</button>
            </div>
        </form>
    </div>
</div>
<script src="/js/admin/carhistory.js"></script>