<table data-reg_number="{{reg_number}}">
    <thead>
        <tr>
            <th>Data</th>
            <th>Typ mycia</th>
            {{#fullHistory}}
            <th>Darmowe</th>
            {{/fullHistory}}
            <th>Umył</th>
            {{#user.isAdmin}}
            <th>Akcje</th>
            {{/user.isAdmin}}
        </tr>
    </thead>
    <tbody>
        {{#carHistoryEntries}}
            <tr data-name="{{date}}, {{wash_type}}, {{washer_name}}" data-date="{{date}}" data-wash_type_id="{{wash_type_id}}" data-washer_id="{{washer_id}}">
                <td>{{date}}</td>
                <td>{{wash_type}}</td>
                {{#fullHistory}}
                <td>{{#is_free}}Darmowe{{/is_free}}{{#is_used}}Użyty{{/is_used}}</td>
                {{/fullHistory}}
                <td>{{washer_name}}</td>
                {{#user.isAdmin}}
                <td>
                    <a class="edit" href="/admin/carhistory/update/{{id}}">Edytuj</a>
                    <a class="remove" href="/admin/carhistory/delete/{{id}}">Usuń</a>
                </td>
                {{/user.isAdmin}}
            </tr>
        {{/carHistoryEntries}}
    </tbody>
</table>