<table data-reg_number="{{reg_number}}">
    <thead>
        <tr>
            <th>Data</th>
            {{#fullHistory}}
            <th>Nr rej.</th>
            {{/fullHistory}}
            <th>Typ mycia</th>
            {{#fullHistory}}
            <th>Uwagi</th>
            {{/fullHistory}}
            <th>Umył</th>
            {{#user.isAdmin}}
            <th>Akcje</th>
            {{/user.isAdmin}}
        </tr>
    </thead>
    <tbody>
        {{#historyEntries}}
            <tr class="{{#is_fast}}fast{{/is_fast}}" data-name="{{date}}, {{reg_number}}, {{wash_type}}, {{washer_name}}" data-date="{{date}}" data-reg_number="{{reg_number}}" data-wash_type_id="{{wash_type_id}}" data-washer_id="{{washer_id}}">
                <td>{{date}}</td>
                {{#fullHistory}}
                <td>{{reg_number}}</td>
                {{/fullHistory}}
                <td>{{wash_type}}</td>
                {{#fullHistory}}
                <td class="attrs">{{#is_free}}<div class="icon free"></div>{{/is_free}}{{#is_used}}<div class="icon used"></div>{{/is_used}}{{#is_fast}}<div class="icon fast"></div>{{/is_fast}}</td>
                {{/fullHistory}}
                <td>{{washer_name}}</td>
                {{#user.isAdmin}}
                <td>
                    <a class="edit" href="/admin/history/update/{{id}}">Edytuj</a>
                    <a class="remove" href="/admin/history/delete/{{id}}">Usuń</a>
                </td>
                {{/user.isAdmin}}
            </tr>
        {{/historyEntries}}
    </tbody>
</table>