{{> AdminMenu}}
<div id="admin_content">
    {{#user}}
    <h2>Historia użytkownika {{#user}}{{name}}{{/user}}</h2>
    <table>
        <thead>
            <tr>
                <th>Data</th>
                <th>Nr rej.</th>
                <th>Mycie</th>
            </tr>
        </thead>
        <tbody>
        {{#washHistory}}
            <tr>
                <td>{{wash_datetime}}</td>
                <td>{{reg_number}}</td>
                <td>{{wash_name}}</td>
            </tr>
        {{/washHistory}}
        </tbody>
    </table>
    {{/user}}
    <div id="user_history_modal" class="modal">
        <form action="/admin/userhistory" method="get" class="modal">
            <div class="form-header">
                <h3>Historia użytkownika</h3>
            </div>
            <div class="form-body">
                <div class="form-field">
                    <label for="user_id">Użytkownik</label>
                    <select id="user_id" name="user_id" type="text" autofocus required>
                        {{#users}}
                            <option value="{{id}}">{{name}}</option>
                        {{/users}}
                    </select>
                </div>
                <div class="form-field">
                    <label for="date_from">Od</label>
                    <input type="text" id="date_from" name="date_from" class="daypicker"/>
                </div>
                <div class="form-field">
                    <label for="date_to">Do</label>
                    <input type="text" id="date_to" name="date_to" class="daypicker"/>
                </div>
            </div>
            <div class="form-footer">
                <button type="submit">Pokaż historię</button>
            </div>
        </form>
    </div>
</div>
<script src="/js/admin/userhistory.js"></script>
