<div class="main_form">
    <label>Mycie {{reg_number}} w toku.</label>
    <label>{{wash_type_text}}</label>
    {{#isNextFree}}
    <label class="green_indication">Kolejne mycie darmowe</label>
    {{/isNextFree}}
    <div class="actions_field">
        <a href="{{main_url}}">Następny pojazd</a>
    </div>
</div>