<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="icon" type="image/ico" href="">
    <base href="localhost:3000/" />
    <title>Myjnia samochodowa</title>
  </head>
  <body>
    <h1>Strony nie odnaleziono</h1>
  </body>
</html>