<form action="" method="post" id="select_wash_program" class="main_form" accept-charset="utf-8">
  <input type="hidden" name="reg_number" value="{{reg_number}}" />
  <label>{{washingCountText}}</label>
  {{#isFreeWash}}
    <input type="hidden" name="free_wash" value="1" />
    <label class="green_indication">Darmowe</label>
  {{/isFreeWash}}
  <div id="wash_types">
    {{#wash_types}}
      <label class="noselect" for="wash_type_{{order_number}}">{{order_number}}
        <input type="radio" id="wash_type_{{order_number}}" class="wash_type" name="wash_type" value="{{id}}" onchange='document.getElementById("submit_select_wash").disabled = false;'/>
        <p class="description">{{name}}</p>
      </label>
    {{/wash_types}}
  </div>
  <div class="actions_field">
    {{#hasCarHistory}}
      <a href="" id="show_history_modal_button" title="Historia mycia"><img src="/images/wash_history.png" alt="Historia mycia"/></a>
    {{/hasCarHistory}}
    <input id="submit_select_wash" type="submit" class="my_link" name="submit_select_wash" value="Wybierz" disabled="disabled"/>
    <input type="submit" class="my_link" name="submit_cancel_wash" value="Anuluj"/>
  </div>
</form>
{{#hasCarHistory}}
<div id="car_history_modal" class="modal">
  <form class="modal">
    <div class="form-header">
        <h3>Historia pojazdu {{reg_number}}</h3>
    </div>
    {{>CarWashHistoryTable}}
  </form>
</div>
{{/hasCarHistory}}
<script src="/js/selectwashingprogram.js"></script>